/* Fonts */
@font-face {
    font-family: Montserrat;
    src: url('../font/montserratBold.otf')format('truetype');
}
@font-face {
    font-family: Prata;
    src: url('../font/prataRegular.ttf')format('truetype');
}
@font-face {
    font-family: MontserratReg;
    src: url('../font/montserratRegular.otf')format('truetype');
}

* {
    font-family:MontserratReg;
    p {
        color: #B41E67;
        font-size: 1.3rem;
        font-family: MontserratReg;
    }
    h1 {
        color: #2D264D;
        font-family: Prata;
    
    }
}
:root {
    --h1-font: 10rem;
}
.bg {
    background-image: url('../img/floristellaBackground.png');
    height: 100vh;
    background-position: center top;
    background-repeat: no-repeat;
}
/* Header */
.top-header {
.bg-body-secondary {
    background-color: #CDB4DB;
}
}

/* Navigation */
.nav-bar {
.navbar-brand img {
    width: 80px;
  }
  .navbar-nav {
    align-items: center;
  }
  .navbar .navbar-nav .nav-link {
    color: #2D264D;
    font-family: Montserrat;
    font-size: 1.1em;
    padding: 0.5em 1em;
  }
  @media screen and (min-width: 768px) {
    .navbar-brand img {
      width: 150px;
    }
    .navbar-brand {
      margin-right: 0;
      padding: 0 1em;
    }
  }
}

/* Hero */
.hero {
h1 {
    color: #2D264D;
    font-family: Prata;
    font-size: 5rem;

}
p {
    color: #B41E67;
    font-size: 1.3rem;
    font-family: MontserratReg;
}
span {
    font-size: 1.4rem;
    font-family: Montserrat;
}
.btn-primary {
    background-color: #EC4596 !important;
    border-color: #EC4596 !important;
    font-family: Montserrat;
    border-radius: 1.5em;
}
.btn:hover {
        box-shadow: 5px 6px 6px 2px #e9ecef;
        transform: scale(1.05);
}
}

/* Cards */
.info-cards {
h5 {
    font-size: 2rem;
}
.icon {
    height: 5vw;
    width:4vw
}
.line1 {
    color:#000;
    font-size:1rem;
    font-family: MontserratReg;
}
.line2 {
    color:#000;
    font-size:1rem;
    font-family: MontserratReg;
}
.line3 {
    color:#000;
    font-size:1rem;
    font-family: MontserratReg;
}
.cards{
    transition: all 0.2s ease;
    cursor: pointer;
}
.cards:hover{
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}
}

/* Product Cards */
.products {
h2 {
    color: #B41E67;
    font-size: 2.3em;
}
a,
a:hover {
    text-decoration: none;
    color: inherit;
}
.bg-primary {
    background-color: #EC4596 !important;
    border-color: #EC4596 !important;
    font-family: Montserrat;
    border-radius: 1.2em;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card:hover {
    box-shadow: 5px #e9ecef;
    transform: scale(1.01);
}
}

/* Mission Vision */
.mission-vision {
h3, h4 {
    color: #2D264D;
    font-family: Prata;

}
p {
    color: #B41E67;
    font-size: 1.3rem;
    font-family: MontserratReg;
}
}

/* Footer */
.footer-section {
p{
    font-size: 1.2rem;
}

.bg-body-tertiary {
    background-color: #FFE8F3;
}
}